[submodule "dev/Gems/DynamicMesh"]
	path = dev/Gems/DynamicMesh
	url = https://petrocket@bitbucket.org/petrocket/dynamicmesh.git
[submodule "dev/Gems/ProceduralMesh"]
	path = dev/Gems/ProceduralMesh
	url = https://petrocket@bitbucket.org/petrocket/proceduralmesh.git
[submodule "dev/Gems/ToolKit"]
	path = dev/Gems/ToolKit
	url = https://petrocket@bitbucket.org/petrocket/toolkit.git
[submodule "dev/Gems/SpaceKit"]
	path = dev/Gems/SpaceKit
	url = https://petrocket@bitbucket.org/petrocket/spacekit.git
[submodule "dev/flite"]
	path = dev/flite
	url = https://petrocket@bitbucket.org/petrocket/flite.git
[submodule "dev/Gems/TracyProfiler"]
	path = dev/Gems/TracyProfiler
	url = https://github.com/petrocket/TracyProfilerGem
